bin/
obj/
publish/
generated/
disc/MediEvil (USA) (Track 1).bin
disc/MediEvil (USA) (Track 2).bin
disc/MediEvil (USA).cue
*.sav
settings.json
interface.ini
.idea/
.vs/
debug_dump/
mods/.cache
recordings/